body {
  margin: 80px;
}
body img {
  border: solid 3px #DDD;
  max-width: 800px;
  margin-bottom: 50px;
}

#contents { 
  margin-left: 350px;

}
#toc {
  //background: #f6f8fa;
  width: 300px;
  position: fixed;
  color: #666;
  border: solid 1px #DDD;
}
#toc a {
  color: #444;
}
#toc .toc-list {
  padding-left: 1em;
  margin-right: 1em;
}
#toc .toc-h2 {
  border-top: solid 1px #DDD;
  margin-top: 20px;
  list-style-type:none;
}
#toc .toc-h3 {
  margin-left: 30px;
  font-size: small;
  list-style-type:circle;
}
#toc .current {
  background: orange;
}
